@-moz-document regexp("^(?!.*91pu.com.tw/song).*$") {
    *:not([class*="icon"]):not(i) {
        font-family:MyCustomFont,'FontAwesome', 'Material Icons Extended','Material-Design-Icons', sans-serif !important;
        text-shadow:0 0;
    }

     @font-face {
        font-family: MyCustomFont;
        /* 同樣的 font-family */
        font-style: normal;
        src: local("微軟正黑體");
    }

    @font-face {
        font-family: MyCustomFont;
        /* 同樣的 font-family */
        font-style: normal;
        font-weight: bold;
        src: local("微軟正黑體 Bold");
    }

    @font-face {
        font-family: MyCustomFont;
        /* 同樣的 font-family */
        font-style: normal;
        src: local("Verdana");
    }

    @font-face {
        font-family: MyCustomFont;
        /* 同樣的 font-family */
        font-style: normal;
        font-weight: bold;
        src: local("Verdana Bold");
    }
}
