:not([class*=icon]):not(i) {
    font-family: "MiSans TC VF", "MiSans VF", "新細明體", 'FontAwesome', 'Material Icons Extended', 'Material-Design-Icons', 'QualcommIcon', 'VideoJS', 'icons101', 'AmebaNewSymbols', 'videofont', 'ohpOffice365Icons', 'anchorjs-icons', 'consumer-icons', 'tm-detail-font', 'iconfont', 'FabricMDL2Icons', 'MWF-MDL2', 'Noto Emoji', 'Arial'!important;
    font-variant: no-common-ligatures proportional-nums;
    font-optical-sizing: none;
    font-kerning: none;
    -webkit-font-smoothing: antialiased!important;
    text-rendering: optimizeSpeed!important;
}
